:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: aqua;
  width: 100vw;
  padding-bottom: 20px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.btn-primary {
  display: block;
  margin: 0 auto;
  background-color: rgb(36, 90, 192);
  font-weight: 700;
  border-radius: 4px;
  color: #ffff;
  height: 30px;
}
.js-input {
  position: fixed;
  width: 400px;
  height: 30px;
  font-weight: 700;
  border-radius: 4px;
  z-index: 1;
}
.button.is-hidden {
  display: none;
}
.button > .spinner.is-hidden {
  display: none;
}

